apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
  name: add-etchosts-from-kubectl
  namespace: ops-system
spec:
  desc: add hosts to /etc/hosts for specified host
  variables:
    clear:
      required: true
      default: "false"
  steps:
    - name: backup-etc-hosts
      content: |
        cp /etc/hosts /etc/hosts.bak.$(date +%F_%T)
    - name: add-etc-hosts-from-kubectl
      content: |
        kubectl get nodes -o wide | tail -n +2 | awk '{print $6, $1}' | while read ip hostname; do
          ipDomain=$(echo $ip | sed 's/\./-/g')
          if grep -q "$ipDomain" /etc/hosts; then
            echo "$ipDomain has already been added, skipping"
          else
            echo "$ip $ipDomain" | sudo tee -a /etc/hosts > /dev/null
            echo "Added $ip $ipDomain to /etc/hosts"
          fi
          if grep -q "$hostname" /etc/hosts; then
            echo "$hostname has already been added, skipping"
          else
            echo "$ip $hostname" | sudo tee -a /etc/hosts > /dev/null
            echo "Added $ip $hostname to /etc/hosts"
          fi
        done
      when: ${clear} == "false"
    - name: remove-etc-hosts
      content: |
        kubectl get nodes -o wide | tail -n +2 | awk '{print $6, $1}' | while read ip hostname; do
          ipDomain=$(echo $ip | sed 's/\./-/g')
          if grep -q "$ipDomain" /etc/hosts; then
            sed -i "/$ipDomain/d" /etc/hosts
            echo "Removed $ipDomain from /etc/hosts"
          else
            echo "$ipDomain is not present in /etc/hosts, skipping"
          fi
          if grep -q "$hostname" /etc/hosts; then
            sed -i "/$hostname/d" /etc/hosts
            echo "Removed $hostname from /etc/hosts"
          else
            echo "$hostname is not present in /etc/hosts, skipping"
          fi
        done
      when: ${clear} == "true"
