apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
    name: alert-gpu-zombie
    namespace: ops-system
spec:
    desc: check gpu
    host: "alert-card=gpu"
    steps:
        - name: alert-gpu-zombie
          content: |
              #!/usr/bin/python
              import os
              import subprocess
              import requests
              import json
              import time
              from datetime import datetime

              message = ''
              card_id = ''

              def send(status, message):
                  payload = {
                      'host': '${HOSTNAME}',
                      'type': 'TaskRunReport',
                      'kind': '${TASKRUN}',
                      'status': status,
                      'message': message
                  }
                  headers = {
                      'Content-Type': 'application/json'
                  }
                  response = requests.post('${OPSSERVER_ENDPOINT}/api/v1/namespaces/${NAMESPACE}/events/taskruns.${TASKRUN}.reports.${HOSTNAME}', headers=headers, data=json.dumps(payload))
                  print(response.text)

              def build_message(message, card_id=''):
                  if card_id == '':
                      return f'Abnormal info: {message}\n'
                  return f'Abnormal location: {card_id}\nAbnormal info: {message}\n'

              try:
                  # 1. check nvidia-smi exists /usr/bin/nvidia-sm
                  if not os.path.exists('/usr/bin/nvidia-smi'):
                      raise Exception(build_message('nvidia-smi command not found'))
                  # 2. 
                  output = ''
                  try:
                      output = subprocess.run(['nvidia-smi' , '--query-compute-apps=process_name,pid,used_memory', '--format=csv,noheader,nounits'], universal_newlines=True, stdout=subprocess.PIPE, timeout=10).stdout
                  except subprocess.TimeoutExpired:
                      raise Exception(build_message('nvidia-smi execution timeout 10s'))
                  except:
                      pass
                  lines = [line for line in output.split('\n')]
                  
                  # 3. check zombie
                  alertLines = []
                  for index, line in enumerate(lines):
                      line = line.strip()
                      if '[No data]' in line and line not in alertLines:
                          alertLines.append(line)
                  if len(alertLines) > 0:
                      for line in alertLines:
                          pid = line.split(', ')[1]
                          num = line.split(', ')[-1]
                          message += build_message('Zombie process ' + pid + ' using GPU ' + num + 'MB')
                  
              except Exception as e:
                  if len(message) == 0:
                      message = build_message(str(e))
              finally:
                  if len(message) > 0:
                      send('alerting', message)
                  else:
                      send('normal', message)
