apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
  name: check-npu-drop
  namespace: ops-system
spec:
  desc: check the npu card dropped in specified host
  variables:
    desired_npu_count:
      default: "16"
  steps:
    - name: check-npu-smi
      content: command -v npu-smi
      allowfailure: "true"
    - name: npu-model
      content: timeout 10 npu-smi info -t board -i 0 -c 0 | grep -oP 'Chip Name\s*:\s*\K[^\n]+'
      allowfailure: "true"
    - name: check-lspci-npu-count
      content: |
        NPU_LSPCI_COUNT=$(($(timeout 10 lspci |grep d80 | wc -l))); [ $NPU_LSPCI_COUNT -eq ${desired_npu_count} ] && echo "OK - NPU count matches: $NPU_LSPCI_COUNT" || echo "ERROR - NPU count mismatch: $NPU_LSPCI_COUNT vs desired_npu_count ${desired_npu_count}"
      allowfailure: "true"
    - name: check-npu-smi-npu-count
      allowfailure: "true"
      content: |
        NPU_SMI_COUNT=$(($(timeout 10 npu-smi info -l 2>&1 | grep -oP 'Total Count\s*:\s*\K\d+'))); [ $NPU_SMI_COUNT -eq ${desired_npu_count} ] && echo "OK - NPU count matches: $NPU_SMI_COUNT" || echo "ERROR - NPU count mismatch: $NPU_SMI_COUNT vs desired_npu_count ${desired_npu_count}"
    - name: check-link-status
      content: |
        for ((i=0; i<${desired_npu_count}; i++)); do
            timeout 10 hccn_tool -i $i -link -g
        done
      allowfailure: "true"
