apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
  name: check-node-existed
  namespace: ops-system
spec:
  desc: check the node existed
  host: anymaster
  variables:
    nodename:
      display: node name
      required: true
  steps:
    - name: check-node-existed
      content: |
        found="false"; if [ -z "$node" ]; then echo "node is existed"; else if kubectl get node ${nodename} &>/dev/null; then echo "Node ${nodename} is existed"; found="true"; else echo "Node ${nodename} is not existed"; fi; fi
