apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
  name: clear-host
  namespace: ops-system
spec:
  desc: clear host
  host: anymaster
  steps:
    - name: clear-host
      content: |
        kubectl get hosts -A | grep "Failed" | awk '{print $2}' | xargs -I {} kubectl delete host -n ops-system {}
