apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
  name: delete-pod-bycounts
  namespace: ops-system
spec:
  desc: restart or delete pod by counts default 80
  host: anymaster
  variables:
    namespace:
      display: namespace
      required: true
    pod:
      display: pod name
      required: true
  steps:
    - name: delete-pod
      content: |
        NAMESPACE=${namespace}
        POD_NAME=${pod}
        COUNTS=${counts}
        NEED_DELETE=false

        if [ -z "$COUNTS" ]; then
          COUNTS=0
        fi
        if [ "$COUNTS" -gt 80 ]; then
          NEED_DELETE=true
        fi

        if [ "$NEED_DELETE" = true ]; then
          kubectl -n $NAMESPACE delete pod $POD_NAME
        else
          echo "Not hit metrics target in pod $POD_NAME"
        fi
