apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
  name: get-gpu-status
  namespace: ops-system
spec:
  desc: get gpu status using nvidia-smi in specified host
  steps:
    - name: check-nvidia-smi
      content: command -v nvidia-smi
    - name: show-gpu-usage
      content: timeout 10 nvidia-smi --query-gpu=index,name,temperature.gpu,utilization.gpu,memory.total,utilization.memory --format=csv
    - name: find-xid
      content: |
        if dmesg -T | grep -i "NVRM: Xid" > /dev/null; then echo "ERROR - Xid error found in dmesg"; else echo "OK - No Xid error found"; fi
    - name: check-lspci-ff
      content: |
        if lspci | grep -q "rev ff"; then echo "ERROR - 'rev ff' found in lspci output"; else echo "OK - No 'rev ff' found"; fi
    - name: clear-ecc-errors
      content: |
        timeout 10 nvidia-smi -p 1
