apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
  name: install-nydus
  namespace: ops-system
spec:
  desc: install nydus kit in specified host
  variables:
    proxy: 
      default: https://ghfast.top/
    version: 
      default: 2.2.4
    rpcversion: 
      default: 0.13.4
    arch: 
      default: amd64
    os: 
      default: linux
  steps:
    - name: download-nydus
      content: wget ${proxy}https://github.com/dragonflyoss/nydus/releases/download/v${version}/nydus-static-v${version}-${os}-${arch}.tgz
    - name: extract-nydus-static
      content: tar -xzf nydus-static-v${version}-${os}-${arch}.tgz
    - name: move-nydus-static-config
      content: rm -rf nydus-static/configs
    - name: move-nydus-static-binary
      content: mv -f nydus-static/* /usr/local/bin/
    - name: clean-nydus-static
      content: rm -rf nydus-static-v${version}-${os}-${arch}.tgz nydus-static
    - name: download-nydus-snapshotter
      content: wget ${proxy}https://github.com/containerd/nydus-snapshotter/releases/download/v${rpcversion}/nydus-snapshotter-v${rpcversion}-x86_64.tgz
    - name: extract-nydus-snapshotter
      content: tar -xzf nydus-snapshotter-v${rpcversion}-x86_64.tgz
    - name: move-nydus-snapshotter
      content: mv -f nydus-snapshotter/* /usr/local/bin/
    - name: clean-nydus-snapshotter
      content: rm -rf nydus-snapshotter-v${rpcversion}-x86_64.tgz nydus-snapshotter
    - name: version
      content: containerd-nydus-grpc --version
