apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
  name: set-docker-insecure-registry
  namespace: ops-system
spec:
  desc: set docker insecure-registry specified host
  variables:
    registry:
      desc: the insecure registry to be added
      required: true
      default: registry:5000
  steps:
    - name: make-docker-etc-dir
      content: mkdir -p /etc/docker
    - name: make-daemon-json
      content: test -f /etc/docker/daemon.json || echo '{}' > /etc/docker/daemon.json
    - name: set-docker-insecure-registry
      content: |
        if ! jq -e '.["insecure-registries"] | index("${registry}") != null' /etc/docker/daemon.json > /dev/null; then
          cp /etc/docker/daemon.json /etc/docker/daemon.json.bak
          jq --arg reg "$registry" '.["insecure-registries"] += ["${registry}"]' /etc/docker/daemon.json > /etc/docker/daemon.json.new
          mv /etc/docker/daemon.json.new /etc/docker/daemon.json
        else
          echo "The registry ${registry} is already in the insecure-registries list"
        fi
    - name: reload-docker
      content: systemctl reload docker
    - name: show-docker-config
      content: cat /etc/docker/daemon.json
