apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
  name: set-docker-liverestore
  namespace: ops-system
spec:
  desc: set docker live-restore for specified host
  steps:
    - name: make-docker-etc-dir
      content: mkdir -p /etc/docker
    - name: make-daemon-json
      content: test -f /etc/docker/daemon.json || echo '{}' > /etc/docker/daemon.json
    - name: set-docker-live-restore
      content: 'jq ". + {\"live-restore\": true}" <<< $(cat /etc/docker/daemon.json ) > /etc/docker/daemon.json'
    - name: reload-docker
      content: systemctl reload docker
    - name: show-docker-config
      content: cat /etc/docker/daemon.json
