apiVersion: crd.chenshaowen.com/v1
kind: Task
metadata:
  name: velero-install
  namespace: ops-system
spec:
  desc: install Velero Client && Server
  host: anymaster
  variables:
    velero_version: 
      default: v1.9.2
    download_url: 
      default: https://ghfast.top/https://github.com/vmware-tanzu/velero/releases/download/${velero_version}/velero-${velero_version}-linux-amd64.tar.gz
    region: 
      default: cn-north-4
    endpoint: 
      required: true
      default: https://obs.cn-north-4.myhuaweicloud.com
    bucket:
      desc: bucket name
      required: true
    ak:
      desc: access key
      required: true
    sk:
      desc: secret key
      required: true
  steps:
    - name: download-velero-client
      content: wget ${download_url}

    - name: install-velero-client
      content: tar xvf velero-${velero_version}-linux-amd64.tar.gz

    - name: generate-credential-1
      content: echo "[default]" > velero-credentials

    - name: generate-credential-2
      content: echo "aws_access_key_id = ${ak}" >> velero-credentials

    - name: generate-credential-3
      content: echo "aws_secret_access_key = ${sk}" >> velero-credentials

    - name: install-velero-server
      content: ./velero-${velero_version}-linux-amd64/velero install --image registry.cn-beijing.aliyuncs.com/opshub/velero-velero:${velero_version} --plugins registry.cn-beijing.aliyuncs.com/opshub/velero-velero-plugin-for-aws:v1.5.1 --provider aws  --bucket ${bucket} --namespace velero --secret-file ./velero-credentials --use-restic --backup-location-config region=${region},s3ForcePathStyle="true",s3Url=${endpoint} --snapshot-location-config region=${region}
